.newUser__controls {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.newUser__control__label{
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: flex;
}

.newUser__control__input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 15px;
    border: 1px solid #ccc;
    width: 10.375rem;
    max-width: 100%;
}

.newUser__actions {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .newUser__control__input {
        width: 18.375rem;
    }
    .newUser__control__label {
        margin-bottom: 1rem;
    }
}


